body{
    font-family: 'Helvetica';
    font-weight: 600;
    background: #3182CE;
    display: flex;
}


.sidebar{
    width: 265px;
    height: 727px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 14px 0px #0000000D;
}

.sidebar__menu{
    width: 219.5px;
    height: 402px;
    margin: 10px 26px;
    display: flex;
    flex-direction: column;
}

.sidebar__menu__dashboard{
    width: 219.5px;
    height: 51px;
    border-radius: 8px;
    display: inline;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
    display: flex;
    align-items: center;
}

.sidebar__menu__dashboard span{
    font-size: 12px;
    color: #2D3748;
}

.sidebar__menu__dashboard__logo{
    width: 30px;
    margin: 10px 8px 10px 10px; 
    height: 30px;
    border-radius: 8px;
    background: #3182CE;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__menu__dashboard__logo img{
    object-fit: contain; 
    width: 15px;
    height: 15px;
}

.sidebar__menu__element{
    margin: 20px 0px 20px 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0%;
    line-height: 18px;
    color: #A0AEC0;
}
.sidebar__menu__element img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.sidebar__menu h1{
    margin-left: 10px;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #2D3748;
}

.sidebar__help{
    height: 228px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0%;
    color: #2D3748;
}

.sidebar__help img{
    height: 145px;
}

.sidebar__help button{
    width: 186px;
    min-height: 35px;
    margin-top: 40px;
    border-radius: 8px;
    padding-right: 8px;
    padding-left: 8px;
    background: #3182CE;
    border: none;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.credit-card{
    position: relative;
    min-width: 460px;
    height: 240px;
    border-radius: 20px;
    background-image: url('credit-card/Background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.credit-card__logo{
    position: absolute;
    width: 49.2px;
    height: 32.8px;
    right: 22px;
    top: 22px;
}

.credit-card__number{
    font-size: 24px;
    line-height: 33.6px;
    color: #FFFFFF; 
    margin: 122.5px 0 15px 31px;
}

.credit-card__bottom{
    display: flex;
}

.credit-card__cvv-label, .credit-card__date-label{
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
}

.credit-card__date, .credit-card__cvv{
    font-size: 14px;
    line-height: 19.6px;
    color: #FFFFFF;
}

.credit-card__date-block{
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}
.credit-card__cvv-block{
    display: flex;
    flex-direction: column;
    margin-left: 22.5px;
}

.salary, .paypal{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salary__logo, .paypal__logo{
    margin-top: 30px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 8px;
    background: #3182CE;
    box-shadow: 0px 3.5px 5.5px 0px #00000005;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salary__logo img{
    width: 26px;
}

.paypal__logo img{
    width: 17.22px;
}

.salary, .paypal{
    min-width: 240px;
    min-height: 240px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salary h1, .paypal h1{
    font-size: 18px;
    color: #2D3748;
    margin-top: 22px;
    line-height: 25.2px;
    text-align: center;       
}

.salary h2, .paypal h2{
    font-size: 12px;
    color: #A0AEC0;
    margin-top: -8px;
    line-height: 18px;
    text-align: center;       
}

.line{
    width: 172px;
    height: 3px;
}

.salary__amount, .paypal__balance{
    margin-top: 15px;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: #2D3748;
}



