@font-face {
    font-family: 'Helvetica';
    src: url('./resources/fonts/Helvetica.woff2') format('woff2'),
        url('./resources/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./resources/fonts/Helvetica-Bold.woff2') format('woff2'),
        url('./resources/fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    padding: 44px 32px 20px 20px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3182CE 414px, #fff 414px);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

p {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    width: 100%;
    margin-bottom: 37.5px;
}

.header-nav__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
}

.header-nav {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44.5px;
}

.header-nav__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-nav__subtitle {
    font-size: 12px;
    line-height: 150%;
}

.header-nav__title {
    font-size: 14px;
    line-height: 140%;
    font-weight: bold;
}

.search-field {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 200px;
    height: 40px;
}

.search-field__input {
    border: none;
    font-size: 12px;
    line-height: 150%;
    color: #A0AEC0;
}

/* Footer */

footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.footer-nav {
    width: 260px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.footer-nav__link {
    font-size: 12px;
    line-height: 150%;
    color: #a0aec0;
}


/* Main */
main {
    display: flex;
}

/* Sidebar */
.sidebar {
    min-width: 265px;
    height: 727px;
    margin-right: 19px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}


/* Content */
.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Верхний блок со счетами, способом оплаты, счетами, карточками */
.content__main {
    display: flex;
    gap: 22px;
    height: 436px;
}

/* Блок со способом оплаты, карточкой, информацией о зарплате, счете */
.payment-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Блок с карточкой, информация о зарплате, счете */
.account-info {
    height: 240px;
    width: 989.5px;
    display: flex;
    gap: 24px;
}



/* Нижний блок с выставлеными счетами, транзакциями */
.content__secondary {
    width: 1584px;
    height: 538px;
    display: flex;
    gap: 24px;
}

/* Выставленые счета */
.info-sums {
    width: 900px;
    height: 538px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
}

/* Транзакции */
.tranzactions-info {
    padding: 28px 21px 0 21px;
    width: 660px;
    height: 538px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
}

/* Sidebar */

.sidebar__menu {
    width: 219.5px;
    height: 402px;
    margin: 10px 26px;
    display: flex;
    flex-direction: column;
}

.sidebar__menu__dashboard {
    width: 219.5px;
    height: 51px;
    border-radius: 8px;
    display: inline;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
    display: flex;
    align-items: center;
}

.sidebar__menu__dashboard span {
    font-size: 12px;
    color: #2D3748;
}

.sidebar__menu__dashboard__logo {
    width: 30px;
    margin: 10px 8px 10px 10px;
    height: 30px;
    border-radius: 8px;
    background: #3182CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__menu__dashboard__logo img {
    object-fit: contain;
    width: 15px;
    height: 15px;
}

.sidebar__menu__element {
    margin: 20px 0px 20px 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0%;
    line-height: 18px;
    color: #A0AEC0;
}

.sidebar__menu__element img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.sidebar__menu h1 {
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #2D3748;
}

.sidebar__help {
    height: 228px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0%;
    color: #2D3748;
}

.sidebar__help img {
    height: 145px;
}

.sidebar__help button {
    width: 186px;
    min-height: 35px;
    margin-top: 40px;
    border-radius: 8px;
    padding-right: 8px;
    padding-left: 8px;
    background: #3182CE;
    border: none;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

/* Credit-card */

.credit-card {
    position: relative;
    min-width: 460px;
    height: 240px;
    border-radius: 20px;
    background-image: url('./resources/images/credit-card/background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.credit-card__logo {
    position: absolute;
    width: 49.2px;
    height: 32.8px;
    right: 22px;
    top: 22px;
}

.credit-card__number {
    font-size: 24px;
    line-height: 33.6px;
    color: #FFFFFF;
    margin: 122.5px 0 15px 31px;
}

.credit-card__bottom {
    display: flex;
}

.credit-card__cvv-label,
.credit-card__date-label {
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
}

.credit-card__date,
.credit-card__cvv {
    font-size: 14px;
    line-height: 19.6px;
    color: #FFFFFF;
}

.credit-card__date-block {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}

.credit-card__cvv-block {
    display: flex;
    flex-direction: column;
    margin-left: 22.5px;
}



/* Salary, Paypal */
.salary,
.paypal {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salary__logo,
.paypal__logo {
    margin-top: 30px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 8px;
    background: #3182CE;
    box-shadow: 0px 3.5px 5.5px 0px #00000005;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salary__icon {
    width: 26px;
}

.paypal__icon {
    width: 17.22px;
}

.salary,
.paypal {
    min-width: 240px;
    min-height: 240px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 0px #0000000D;
}

.salary__title,
.paypal__title {
    font-size: 18px;
    color: #2D3748;
    margin-top: 22px;
    line-height: 25.2px;
    text-align: center;
}

.salary__subtitle,
.paypal__subtitle {
    font-size: 12px;
    color: #A0AEC0;
    margin-top: 3.5px;
    line-height: 18px;
}

.salary__amount,
.paypal__balance {
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: #2D3748;
}

.line {
    width: 172px;
    height: 3px;
    background: url(./resources/images/line.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 13.5px 0;
}


/* Pay-method */
.pay-method {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
    height: 172px;
    width: 990px;
    border-radius: 20px;
    padding: 24px;
    line-height: 140%;
    color: #A0AEC0;
    background-color: #fff;
}

.pay-method__header {
    width: 100%;
    margin-bottom: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pay-method__btn {
    text-transform: uppercase;
    border-radius: 8px;
    padding: 0px 8px;
    width: 134px;
    height: 35px;
    background: #2d3748;
    font-size: 10px;
    color: #fff;
}

.pay-method__title {
    font-size: 13px;
    color: #2D3748;
    font-weight: bold;
}

.pay-method__container {
    display: flex;
    flex-direction: row;
    gap: 24.5px;
    width: 100%;
}

.pay-method__input {
    width: 458.5px;
    height: 65px;
    border: 1px #E2E8F0 solid;
    padding: 5px 10px;
    border-radius: 8px;
    position: relative;
    padding: 22.75px 56px;
}

.pay-method__master-wrapper {
    display: inline-block;
    position: relative;
}

.pay-method__master-wrapper::before {
    content: "";
    width: 26px;
    height: 13px;
    position: absolute;
    z-index: 1000;
    background-image: url(./resources/images/pay-method/master-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
    top: 26px;
}

.pay-method__master-wrapper::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 1000;
    background-image: url(./resources/images/pay-method/pen.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 19px;
    top: 26.5px;
}

.pay-method__visa-wrapper {
    display: inline-block;
    position: relative;
}

.pay-method__visa-wrapper::before {
    content: "";
    width: 24.5px;
    height: 8.5px;
    position: absolute;
    z-index: 1000;
    background-image: url(./resources/images/pay-method/visa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
    top: 28px;
}

.pay-method__visa-wrapper::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 1000;
    background-image: url(./resources/images/pay-method/pen.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 19px;
    top: 26.5px;
}

/* Count */
.count {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
    padding: 28px 21.5px 47.5px 24px;
    border-radius: 20px;
    width: 100%;
    height: 436px;
    background-color: #fff;
}

.count__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22.5px;
}

.count__title {
    width: 112.5px;
    height: 20px;
    font-size: 17px;
    line-height: 140%;
    color: #2D3748;
    font-weight: bold;
}

.count__btn {
    text-transform: uppercase;
    border: 1.00px solid #3182ce;
    border-radius: 8px;
    padding: 0px 7px;
    width: 110px;
    height: 35px;
    font-size: 8px;
    line-height: 150%;
    font-weight: bold;
    color: #3182ce;
    background-color: #fff;
}

.count__item-main {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.count__date {
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    color: #2D3748;
}

.count__number {
    font-size: 12px;
    line-height: 150%;
    color: #A0AEC0;
    font-weight: bold;
}

.count__item-secondary {
    width: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.count__download {
    width: 38px;
    height: 15.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count__download-link {
    font-size: 10px;
    line-height: 150%;
    color: #2D3748;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.count-image {
    width: 15px;
    height: 15px;
}

.container__items {
    width: 100%;
    height: 308px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.count__item {
    padding-bottom: 24.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.count__price {
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    color: #A0AEC0;
    font-weight: bold;
}

/* info-sums */

.info-sums-h {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    margin-left: 21px;
    margin-top: 28px;
    color: #2d3748;
}

.info-sums-block {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 13px;
    width: 855px;
    height: 132.5px;
    border-radius: 8px;
    background-color: #f8f9fa;
    margin-left: 21px;
    margin-top: 24px;
}

.info-sums-up {
    display: flex;
}

.info-sums-right {
    display: flex;
    margin-left: auto;
}

.info-sums-right-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #e53e3e;
    margin-left: 3.5px;
    margin-right: 12px;
    top: 5px;
}

.info-sums-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #718096;
}

.info-sums-text {
    width: 266px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #a0aec0;
}

.mastercard {
    margin-left: 19px;
    background-image: url("../images/background/mastercard.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.tranzactions-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17.5px;
}

.tranzactions-header-left {
    font-size: 18px;
    font-weight: 500;
    color: #2d3748;
}

.tranzactions-header-right {
    display: flex;
    gap: 6px;
    color: #a0aec0;
    margin-top: 4px;
}

.tranzactions-time-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #a0aec0;
    margin-bottom: 17.5px;
}

.tranzactions-block-up {
    display: flex;
    margin-bottom: 24px;
}

.tranzactions-block-down {
    display: flex;
    margin-bottom: 24px;
}

.tranzactions-block-text {
    margin-left: 14px;
    margin-top: 4px;
}

.tranzactions-title-text-up {
    font-size: 14px;
    font-weight: 400;
    color: #2d3748;
    margin-bottom: 5px;
}

.tranzactions-title-text-down {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #a0aec0;
}

.price-down {
    font-size: 14px;
    font-weight: 400;
    color: #e53e3e;
    margin-left: auto;
    margin-top: 16px;
}

.price-midle {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2d3748;
    margin-left: auto;
    margin-top: 16px;
}

.price-up {
    font-size: 14px;
    font-weight: 400;
    color: #48bb78;
    margin-left: auto;
    margin-top: 16px;
}