* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

section {
  width: 1584px;
  height: 538px;
  display: flex;
}
.mastercard {
  margin-left: 19px;
  background-image: url("../images/background/mastercard.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.info-sums-h {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  margin-left: 21px;
  margin-top: 28px;
  color: #2d3748;
}

.footer__container {
  display: flex;
}

.footer__box {
  display: flex;
  margin-top: 24px;
  width: 1584px;
  height: 538px;
}

.info-sums {
  width: 900px;
  height: 538px;
  border-radius: 20px;
  background-color: #ffffff;
}

.info-sums-block {
  padding-top: 24px;
  padding-left: 27px;
  padding-right: 13px;
  width: 855px;
  height: 132.5px;
  border-radius: 8px;
  background-color: #f8f9fa;
  margin-left: 21px;
  margin-top: 24px;
}

.info-sums-up {
  display: flex;
}

.info-sums-right {
  display: flex;
  margin-left: auto;
}

.info-sums-right-text {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #e53e3e;
  margin-left: 3.5px;
  margin-right: 12px;
  top: 5px;
}

.info-sums-name {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #718096;
}

.info-sums-text {
  width: 266px;
  margin-top: 7px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #a0aec0;
}

.tranzactions-blocks {
  width: 660px;
  height: 538px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 20px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 28px;
}

.tranzactions-header {
  display: flex;
  margin-bottom: 17.5px;
}

.tranzactions-header-left {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 500;
  color: #2d3748;
}

.tranzactions-header-right {
  margin-left: auto;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #a0aec0;
  margin-top: 4px;
}

.tranzactions-time-text {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #a0aec0;
  margin-bottom: 17.5px;
}

.tranzactions-block-up {
  display: flex;
  margin-bottom: 24px;
}

.tranzactions-block-down {
  display: flex;
  margin-bottom: 24px;
}

.tranzactions-block-text {
  margin-left: 14px;
  margin-top: 4px;
}

.tranzactions-title-text-up {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #2d3748;
  margin-bottom: 5px;
}

.tranzactions-title-text-down {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #a0aec0;
}

.price-down {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #e53e3e;
  margin-left: auto;
  margin-top: 16px;
}

.price-midle {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2d3748;
  margin-left: auto;
  margin-top: 16px;
}

.price-up {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #48bb78;
  margin-left: auto;
  margin-top: 16px;
}
